[2018-10-29 21:17] GroovinChip opened #1 "Allow for accessing an application's app icon"

[2018-10-29 23:10] GroovinChip opened #2 "Add a property to the Application class that differentiates user and system apps"
As such, we can treat them differently, a la Titanium Backup

[2018-10-30 07:44] g123k commented on #2
Hello,

Thanks for your feature request.
You have now a `systemApp` attribute in the `Application` object to detect what kind of app it is.

Just upgrade to the 1.0.1 version to enjoy it :)

[2018-10-30 07:44] #2 closed

[2018-11-01 00:04] GroovinChip commented on #2
Thanks!

[2018-11-05 18:09] GroovinChip commented on #1
any interest in implementing this?

[2018-12-13 06:37] lohanidamodar commented on #1
@GroovinChip  Hi, I just added app icon field, that returns icon as base64 encoded string and updated the example to show the app icon. I have created a pull request too...if you want you can use it from my fork of the repo at
https://github.com/lohanidamodar/flutter_plugin_device_apps

[2018-12-14 22:52] #1 closed

[2018-12-17 09:54] lohanidamodar opened #5 "Lets modify getInstalledApplications() to provide option to get only those apps that have launch intent"
I think it would be helpful for making android launcher, if we modify getInstalledApplications to also have option to get only those apps with launch intent, that is get only those apps that launcher needs to show, that can be launched.

[2018-12-24 19:34] aswinmohanme commented on #5
This would be a nice  improvement as I am currently porting a launcher from Kotlin to Flutter. This is the code that I was using in Kotlin for getting only apps that have a launcher intent.

[code]

I am still  figuring out how to work with Flutter and the  Native side so that's why I can't implement it and give a pull request.

[2018-12-24 19:52] aswinmohanme opened #6 "Some assertions fail while testing on device"
The new version 1.0.3 has added some assertions. The assertion 'version_code" is throwing an error while testing on my device. I downgraded  to 1.0.2 which does not have that issue.

[2018-12-25 05:59] aswinmohanme commented on #5
Tested #7 and works like a charm

[2018-12-27 10:02] g123k commented on #6
Hi @aswinmohanme,

Could you give an example of the app without the version code ?

[2018-12-28 02:12] aswinmohanme commented on #6
It was an issue with my code, fixed it :relaxed:

[2018-12-28 02:12] #6 closed

[2018-12-28 02:13] aswinmohanme commented on #5
This can be closed right ?

[2018-12-28 03:50] lohanidamodar commented on #5
yup

[2018-12-28 03:50] #5 closed

[2019-01-15 02:17] sleith opened #8 "Failed assertion: line 92 pos 16: 'map['version_name'] != null': is not true."
Hi,
I just upgrade the library to 1.0.4
But now i got assertion failed:
package:device_apps/device_apps.dart': Failed assertion: line 92 pos 16: 'map['version_name'] != null': is not true.

Could you please check? Weird though if the app doesn't have version_name, but it does happen.
Thank you :)

[2019-01-15 05:47] g123k commented on #8
Hello,

On which device are you trying your app?
Do you know which app is causing this assertion error?

[2019-01-21 03:57] sleith commented on #8
Hi,
I checked this one that doesn't have the version_name
app_name = io.appium.uiautomator2.server.test
package_name = io.appium.uiautomator2.server.test

thank you :)

[2019-01-21 09:17] g123k commented on #8
Ok, it seems to be related to tests APKs.
I will change the assertion to be less strict on this.

[2019-05-21 09:21] DreamBuddy opened #11 "Adapt with Flutter 1.6"
W/Binder  ( 8963): Caught a RuntimeException from the binder stub implementation.
W/Binder  ( 8963): java.lang.RuntimeException: Methods marked with @UiThread must be executed on the main thread.

similar link : https://github.com/flutter/flutter/issues/32315

[2019-05-21 09:23] DreamBuddy commented on #11
Use this and wrap the origin result can solve the problem ~
// MethodChannel.Result wrapper that responds on the platform thread.
    private static class MethodResultWrapper implements MethodChannel.Result {
        private MethodChannel.Result methodResult;
        private Handler handler;

        MethodResultWrapper(MethodChannel.Result result) {
            methodResult = result;

[2019-05-28 21:39] bardram opened #12 "java.lang.RuntimeException: Methods marked with @UiThread must be executed on the main thread."
I'm getting this error when running the example app:

[code]

[2019-05-29 12:29] g123k commented on #12
This is because you are on the dev channel of Flutter.
However I will fix this.

[2019-05-29 12:30] g123k commented on #12
Duplicate of #11

[2019-05-29 12:30] #12 closed

[2019-05-29 12:48] g123k commented on #11
Fixed in 1.0.8

[2019-05-29 12:48] #11 closed

[2019-06-03 09:01] bardram opened #13 "Unhandled Exception: type 'List<dynamic>' is not a subtype of type 'FutureOr<List<Application>>'"
Sometimes I get the following error:

[code]

I can't really explain when; sometimes the call to `getInstalledApplications()` works just fine. Other times, I get the above exception.

[2019-06-03 14:34] g123k commented on #13
Hello,

Which version of the library are you using?

[2019-06-04 06:59] bardram commented on #13
Version `1.0.8`

[2019-07-31 10:14] Skullper opened #14 "Missing Plugin Exception on iOS"
Hi!
Got an exception on iOS when trying to get all installed apps in the simulator:

`
flutter: MissingPluginException(No implementation found for method getInstalledApps on channel g123k/device_apps)
[VERBOSE-2:ui_dart_state.cc(148)] Unhandled Exception: type 'List<dynamic>' is not a subtype of type 'FutureOr<List<Application>>'
#0      _FutureListener.handleError (dart:async/future_impl.dart:144

[2019-07-31 10:25] #14 closed

[2019-07-31 10:25] Skullper commented on #14
Sorry miss that library doesn't support iOS

[2019-08-10 18:27] therichiekumar opened #15 "iOS Support !"
Please add iOS support. Thanks

[2019-08-11 11:51] g123k commented on #15
Apple does not provide this kind of API for iOS

[2019-08-11 11:51] #15 closed

[2019-10-23 03:00] asyrafdayan opened #17 "Execution failed for task ':device_apps:verifyReleaseResources' when building APK"
[code]
This error message appeared when i was building the APK.
Anything I can do to not encounter this error?

The version I am currently using is `1.0.8`
My app has also been migrated to AndroidX with `compileSdkVersion 28`

[2019-11-04 09:32] augustinreille opened #19 "Feature request : get app by uid"
Hello,

I am currently working on an application where I need to retrieve an Application data by its uid.
I think this could be done using [this](https://developer.android.com/reference/android/content/pm/PackageManager.html#getNameForUid(int)) method.

Regards

[2019-11-10 17:07] tuankg1028 opened #20 "Cannot call "icon" method"
![image](https://user-images.githubusercontent.com/30828528/68547673-ef5f1900-0416-11ea-8532-968e0346c346.png)

[2019-11-23 14:41] thanhnguyen1121 commented on #20
you need to cast to ApplicationWithIcon to use.

[2019-12-06 19:24] RenanDelfanti opened #21 "[Feature Request] iOS support"
Any news about this feature?

[2019-12-07 19:54] g123k commented on #21
Right now, it is strictly impossible, since Apple doesn't provide any API for this.

[2019-12-10 11:41] RenanDelfanti commented on #21
@g123k  So I can't open another app inside my flutter app?

[2019-12-10 17:40] g123k commented on #21
Yes you can, but the idea of this plugin is to be able to list all
installed apps. Not necessarily to launch them.

Le mar. 10 déc. 2019 à 06:41, Renan Delfanti <notifications@github.com> a
écrit :

[2019-12-13 09:40] vinner2606 opened #22 ""OpenApp" case misses break statement"
in OpenApp case, there is not break statement so default is getting called And application is getting crashed. Can you fix it now so I can use it.

[2019-12-13 10:28] mohitjadav opened #23 "Execution failed for task ':device_apps:verifyReleaseResources'."
FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring root project 'device_apps'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.

* Get more help at https://help.gradle.org

BUILD FAILED in 1s

The plugin device_apps could not be built due to the issue above.

[2019-12-13 10:37] mohitjadav commented on #17
@asyrafdayan  same issue here did you find any solution

[2019-12-13 12:19] g123k commented on #23
Hello,

I close your ticket, because it's not related to this Flutter plugin.
But in your project, you have to edit the `android/local.properties` file.

Please ensure you have define the constant `sdk.dir` which contains the path to your local Android SDK. Eg:

`sdk.dir=/Users/g123k/Library/Android/sdk`

[2019-12-13 12:19] #23 closed

[2019-12-13 12:29] g123k commented on #22
Thanks, it will be fixed in 1.0.9

[2019-12-13 12:29] #22 closed

[2019-12-14 08:57] mohitjadav commented on #23
its not working

[2019-12-14 09:26] g123k commented on #23
It is still the same error?

[2019-12-14 09:46] mohitjadav opened #24 "Execution failed for task ':device_apps:verifyReleaseResources'."

[2019-12-14 09:47] g123k commented on #24
Once again this bug is not related to this plugin.
Please stop posting issue.

[2019-12-14 09:47] #24 closed

[2019-12-14 12:42] asyrafdayan commented on #17
@mohitjadav Sadly I did not find a solution to this issue and have decided to just remove this package from my project as there have been no comments from the developers of this package

[2019-12-14 12:51] g123k commented on #17
For your specific issue @asyrafdayan, it should be fixed in the latest release (1.0.9).
And this error is different from yours @mohitjadav

[2019-12-14 12:53] asyrafdayan commented on #17
Thank you for responding. I will be closing down this issue since it appears to have been fixed by the dev.

[2019-12-14 12:53] #17 closed

[2020-01-06 06:16] igaurab opened #25 "Get List Of Applications From PackageName"
So far we can get the individual application, and a list of installed application.

What if we could get multiple applications by giving a list of packageName as such

`List<Application> selectedApp = DeviceApp.getListOfApplicationFromPackageName(packageList)`

[2020-02-07 17:12] alimoraduiux opened #26 "The plugin device_apps could not be built due to the issue above"
Hello
Im use v1.14.6 flutter
but
I have an error The plugin device_apps could not be built due to the issue above

What's the solution?
What should I do?

Please help me a lot

[2020-03-15 21:38] Anon4Lulz opened #27 "Sort list"
Any possibility to bring some order in this list?
e.g. alphabetically?

[2020-03-17 16:03] Jhon2524 opened #28 "Add support for reading the app size"
I'd like to also read the size of the app in addition to other data already received.

Thank you.

[2020-04-07 07:00] bhanuka96 opened #29 "in target 'device_apps' from project 'Pods'"
How to fix this issue?

[code]

[2020-04-07 16:17] Incr3dible commented on #20
Just use `await DeviceApps.getApp(package, true);`
(for any future people haha)

[2020-04-08 01:38] itsarjunsinh opened #30 "[Feature Request] Support for Adaptive Icons"
A separate argument requesting adaptive icon would make sense. Return the default icons if below API 26.
Something like this:
`DeviceApps.getInstalledApplications(includeAppIcons: true, asAdaptiveIcons: true);`
For reference: https://stackoverflow.com/a/46448831

[2020-04-14 05:50] yushanapp opened #31 "java.lang.NullPointerException: Attempt to invoke virtual method 'android.content.pm.PackageManager android.app.Activity.getPackageManager()' on a null object reference"
When calling DeviceApps.getApp the error message is as follows

[code]

[2020-04-22 23:14] itsarjunsinh commented on #30
The API could included masking non-adaptive icons with the system default icon shape.

[2020-04-28 17:50] philippklemmer opened #32 "[Feature Request] Permission managment"
Hey there,

thanks for your nice plugin. Would it be possible to add a feature like seeing permissions of those apps? I would also try to it via PR but never did Android development. This might take a while :D

Stay healthy!

[2020-04-30 04:14] Kalyanb447-github opened #33 "DeviceAppsPlugin.java uses or overrides a deprecated API."
Note: C:\Users\kalya\AppData\Roaming\Pub\Cache\hosted\pub.dartlang.org\device_apps-1.0.9\android\src\main\java\fr\g123k\deviceapps\DeviceAppsPlugin.java uses or overrides a deprecated API.

[2020-04-30 07:00] g123k commented on #33
Yes this a warning, not an error.

[2020-05-06 12:12] Rosco89 commented on #33
!!!NOW!! it's a warning.

[2020-05-06 12:25] g123k commented on #33
Not a bug, closing this

[2020-05-06 12:25] #33 closed

[2020-05-12 20:34] emvaized opened #34 "[Feature request] Option to change 'openApp' transition"
Currently the app opened with `openApp` method slides in. It will be great to provide functionality to customize this transition somehow - for example, make opened app scale up.

[2020-05-24 13:04] emvaized commented on #21
How about [this](https://stackoverflow.com/a/40148627/11381400) method?

[2020-05-24 13:05] emvaized commented on #21
How about [this](https://stackoverflow.com/a/40148627/11381400) method?

[2020-06-03 13:35] amanagarwal-x opened #35 "[Feature request] View space occupied by other apps"
Functionality to view app size

[2020-06-20 10:54] akshat-khare opened #36 "Just adding the plugin in dependency and starting app after pub get gives error in new android studio"
[code]

[2020-06-21 20:30] g123k commented on #36
Hello,

I have tried to create a brand new Flutter project with Flutter stable (1.17.4) and adding & running this plugin works without any issue.

It should come from another library.

[2020-06-21 20:30] #36 closed

[2020-06-25 05:36] g123k commented on #31
Hello,

Could you provide more details on this bug?
Is-it with an app in the background?
Which version of Flutter do you use?

[2020-06-25 05:38] g123k commented on #20
Any comment @tuankg1028?
Or should I close this issue?

[2020-06-25 05:39] g123k commented on #27
You are already receiving a list, just use the sort method for your needs.

[2020-06-25 05:39] #27 closed

[2020-06-26 23:38] ahmadf20 commented on #31
Hi, I encountered the same error.  I'm currently using Flutter 1.12.13+hotfix.9.

[2020-06-27 06:28] g123k commented on #31
@ahmadf20 Could you provide more info on the context?
Which device? Android version?
After doing what kind of action?

Thanks

[2020-06-30 19:02] Pr0t0b0t opened #39 "FATAL EXCEPTION: pool-2-thread-1 java.lang.NullPointerException: Attempt to invoke virtual method 'android.content.pm.PackageManager android.app.Activity.getPackageManager()' on a null object reference"
I'm trying to get the list off my apps for now precisely the length;
When compile this code..!!
I notice that it happens only with **isolates**

     `void isolateApps(int n) {
         DeviceApps.getInstalledApplications(
               onlyAppsWithLaunchIntent: true,
               includeSystemApps: true,
               includeAppIcons: true).then(
      (value) {
          print("Apps isolate

[2020-07-01 04:21] KLD commented on #14
Apparently I missed that too

[2020-07-02 10:52] umakanth-pendyala opened #40 "Unable to get other apps icons through the device_apps plugin"
[code]

and I am getting the following output
` app icon not found`

can anyone help me with this issue

[2020-07-02 11:44] imchetanyadav commented on #40
You need to pass **includeAppIcons: true**

[code]

[2020-07-02 13:08] umakanth-pendyala commented on #40
Finally, it worked thanks for the help bro.

[2020-07-02 13:08] #40 closed

[2020-07-02 14:10] umakanth-pendyala opened #41 "Facing problem when using the device apps plugin in my flutter project"
Guys here is the link to my project
https://github.com/umakanth-pendyala/List-App-Names-with-flutter.git

[code]

for some reason when I execute this file
I get the following error

[code]

I don't know for some reason the getApps method called again and again and the printing on the debug console never stops.
Could anyone please help me with this problem

[2020-07-03 02:05] imchetanyadav commented on #41
Your getApps function is defined inside build and you are calling setState inside it, every time setState is called build would be recreated. You probably wanna move getApps out of build and there's no need to call setState since you are not using value of state variables, just add object to totalApps directly and return it.

[2020-07-03 02:19] Sankalpjadhav opened #42 "Is device_apps plugin deprecated?"
When I try to use it my project, it is showing this plugin is deprecated. So is there any alternate method?

[2020-07-03 02:28] umakanth-pendyala commented on #41
Yeah, then I guess the problem is not with the plugin. And one more thing is this plugin depreciated? because I see that message every time I run the project

[2020-07-03 03:09] g123k commented on #42
No the plug-in is still supported
Don't worry about the warnings

Le ven. 3 juil. 2020 à 04:19, Sankalp jadhav <notifications@github.com> a
écrit :

[2020-07-03 04:31] imchetanyadav commented on #41
Check this: https://github.com/g123k/flutter_plugin_device_apps/issues/42#issuecomment-653314894

[2020-07-03 04:40] Sankalpjadhav commented on #42
Thank you for the response!

[2020-07-03 04:40] #42 closed

[2020-07-03 12:11] Sankalpjadhav opened #43 "Cannot use Image.memory(app.icon); in the project"
Is it possible to get the applications icon by any other method?

[2020-07-09 13:54] Marcel2508 opened #44 "APK Release build failed"
Hi, I'm using the latest version of your library. But my release build seems to fail every time I try to build an apk.
Here is the output:

[code]

Any Idea what is causing this?

[2020-07-09 13:56] Marcel2508 commented on #44
The Debug-Build (with the Flutter debugger, to test on my device) seems to work properly btw...

[2020-07-10 10:01] michael-ottink commented on #31
I am getting the same error when trying to call the DeviceApps from a different isolate https://stackoverflow.com/questions/62820872/how-do-i-correctly-register-a-plugin-with-the-fcm-plugin

[2020-07-10 19:34] michael-ottink opened #45 "DeviceApps.openApp() fails when called from a background channel"
***Introduction**

I am running flutter v1.17.5 DeviceApps v1.0.10 and SystemAlertWindow v0.2.2+3 (intentially not the latest version). And I want to open my app from a system alert window that is running in the foreground, even when the app is closed.

I am using the **SystemOverlayWindow** plugin and the plugin is a activity [SystemAlertWindowPlugin.java][1]

In my **Application.kt** I register

[2020-07-14 08:12] yushanapp commented on #31
Beginning in Flutter 1.12, the Flutter team adjusted the implementation code of the Android plug-in. After 1.12, Android began to use the new plug-in API. The old PluginRegistry.Registrar based on it will not be immediately deprecated, but the official recommendation is to migrate to the new API based on FlutterPlugin. In addition, the new version of the official recommended plug-in directly uses

[2020-07-16 22:40] cgestes opened #46 "Missing applications"
When asking for application with intends, many applications are missing especially: "Phone" and all the Play Store apps.

If using `List<ResolveInfo> resList = manager.queryIntentActivities(intent, 0);` the issue disappear, like concurrent package launcher_assist and launcher_helper do.

[2020-07-16 23:17] cgestes commented on #34
Also trying to figure out how to do that..

Normally `overridePendingTransition` is used on Android, but I dont know yet how it applies to flutter.

[2020-07-17 12:53] michael-ottink commented on #45
From what I understand you can use the context instead of the activity. Could you replace the activity with the context?

[2020-07-17 14:41] pulkit0795 commented on #44
I am facing the same problem.

[2020-07-18 01:33] emvaized commented on #34
@cgestes
I've also tried to implement [this](https://stackoverflow.com/a/40861027/11381400) solution, but it didn't work either...

[2020-07-18 06:42] g123k commented on #44
Please ensure to follow this guide: https://flutter.dev/docs/development/androidx-migration

[2020-07-18 06:42] g123k commented on #43
Why can't you use this method?

[2020-07-18 06:44] g123k commented on #35
There is unfortunately no official way to get this information
https://stackoverflow.com/questions/1806286/getting-installed-app-size

[2020-07-18 06:44] #35 closed

[2020-07-18 07:08] g123k commented on #45
The plugin now uses the plugin V2 system + context instead activity, so the problem should be fixed

[2020-07-18 07:08] #45 closed

[2020-07-18 07:10] g123k commented on #39
Duplicate of https://github.com/g123k/flutter_plugin_device_apps/issues/31

[2020-07-18 07:10] #39 closed

[2020-07-18 07:11] g123k commented on #31
The problem should be fixed with 1.1.0.
Please let me know

[2020-07-18 07:11] #31 closed

[2020-07-18 07:12] g123k commented on #28
There is no official API on Android to have the size of an application unfortunately
Only the APK size is accurate, not the total size.

What would be interested in?

[2020-07-18 07:13] g123k commented on #32
I am not sure of the idea behind this use case.
Why would you need the permissions requested by other apps?

[2020-07-18 07:14] g123k commented on #26
Where is the "issue above"?

[2020-07-20 13:39] zhuohoudeputao commented on #20
I can't do this:
[code]

[2020-07-20 14:30] thanhnguyen1121 commented on #20
DeviceApps.getInstalledApplications(
            includeAppIcons: true,
            includeSystemApps: true,
            onlyAppsWithLaunchIntent: true)
        .then((data) {
      List<Application> apps = data;
      for (int i = 0; i < apps.length; i++) {
        ApplicationWithIcon applicationIcons = apps[i] as ApplicationWithIcon;

        var check = false;
        if (applicationIcons.packa

[2020-07-21 00:17] michael-ottink commented on #31
I am still getting the following error using 1.1.0

[code]

[2020-07-21 00:18] michael-ottink commented on #45
I am still getting the following error using 1.1.0

E/flutter (24866): [ERROR:flutter/lib/ui/ui_dart_state.cc(157)] Unhandled Exception: MissingPluginException(No implementation found for method openApp on channel g123k/device_apps)
E/flutter (24866): #0      MethodChannel._invokeMethod
package:flutter/…/services/platform_channel.dart:154
E/flutter (24866): <asynchronous suspension>
E/flutter (248

[2020-07-21 03:47] zhuohoudeputao commented on #20
Thanks! I'll try it.

[2020-07-22 05:38] Sankalpjadhav commented on #43
Can you please tell me how to get app icon based on the app name?

[2020-08-05 03:54] luislocio opened #47 "Wrong category"
Category 7 should be productivity, not game.

[code]

[2020-08-05 05:59] g123k commented on #47
Thanks for the report, should be fixed in 1.1.1

[2020-08-05 05:59] #47 closed

[2020-08-09 14:51] aswinmohanme opened #49 "Calling getInstalledApplications returns empty list"
I have this code in my widget
[code]

This should return the list of installed applications in the `snapshot.data` but here is the output on my console

[code]

Here is my `pubspec.yaml` for reference
[code]

[2020-08-09 14:56] aswinmohanme commented on #49
I have rebuilt the Application thinking that the issue was Native code not getting recompiled, but the issue is not that.

[2020-08-09 14:58] g123k commented on #49
I am working on a fix right now, should be published anytime soon

[2020-08-09 15:13] g123k commented on #49
Fixed in 1.1.2

[2020-08-09 15:13] #49 closed

[2020-08-09 17:03] g123k commented on #43
You just have to cast the Object from `Application` to `ApplicationWithIcon`

[2020-08-09 19:01] GauthamAsir opened #50 "Failure delivering result"
Im getting this issue when i tried to check wether app is installed via package name

[full log](https://del.dog/ollestemyp.txt)

[2020-08-09 19:02] g123k commented on #50
Could you also provide your Dart code please?

[2020-08-09 19:02] #50 closed

[2020-08-09 19:03] GauthamAsir commented on #50
Sorry, it was issue with another plugin

[2020-08-16 14:00] cgestes commented on #34
I did use ```overridePendingTransition``` with success.

Opening: I call it just after startActivity
Coming back from the launched app: I call it in onResume

Took me a long time to figure it out!

[2020-08-16 14:28] emvaized commented on #34
@cgestes
And what animation did you passed there? And where it was stored?

[2020-08-16 17:44] cgestes commented on #34
I did:
[code]

[2020-08-17 06:10] emvaized commented on #34
@cgestes
Sounds great!
But in my case console complains that it can't resolve method `overridePendingTransition`. Maybe I miss some imports?

[2020-08-17 15:43] cgestes commented on #34
It seems to be a method of the ```Activity``` android java class.

[2020-08-18 04:39] emvaized commented on #34
@cgestes
Well, I already had this imported in the file..
![Screenshot_20200818_073817](https://user-images.githubusercontent.com/37851576/90471059-cbf39800-e125-11ea-960d-7bfdf4908240.png)

[2020-09-11 06:07] yourshinsuke commented on #21
https://pub.dev/packages/flutter_appavailability/install

[2020-09-11 07:24] yourshinsuke commented on #21
it is better.

http://sanya.hzhbcjq.com/packages/installed_apps/example

[2020-09-15 11:35] a-elhaddad opened #51 "Open apps with parameter"
Can I open app with parameter by this plugin? thanks

[2020-09-15 12:12] g123k commented on #51
What kind of parameter?

[2020-09-19 15:26] g123k commented on #51
@a-elhaddad ?

[2020-09-19 16:38] a-elhaddad commented on #51
Facebook page with id !?

[2020-09-21 07:25] jspw commented on #43
how can i store icon or the byte code from Application ?
Supporse i have Application app now how can i access the app.icon without using it directly in Image.memory(app.icon) ?
@g123k

[2020-09-21 07:30] jspw commented on #43
https://github.com/g123k/flutter_plugin_device_apps/issues/20#issuecomment-661076132

[2020-09-21 08:35] jspw commented on #43
@g123k  i want to save the app.icon loaclly and use it later but not able to use it as it's saying
`type 'List<dynamic>' is not a subtype of type 'Uint8List`
How can i solve this?

[2020-09-25 02:28] jspw commented on #43
Just Find a solution and don't know why it works !
take app.icon in a variable before using it in Image.memory()

[code]

[2020-09-26 05:38] definev opened #52 "Open flutter app itself"
I have a alarm app and when it snoozed i want my phone auto open app. can i open my app when it in background(It not destroy it in queue)?

[2020-09-26 13:09] daadu opened #53 "not adding QUERY_ALL_PACKAGES to plugin itself"
[Android docs on package visibility](https://developer.android.com/training/basics/intents/package-visibility#all-apps) suggests that `QUERY_ALL_PACKAGES` should only be used with certain kind of apps.

Instead we should ask user to read the docs themselves and leave it to themselves to add (in spirit of "minimum privileges" !) - if to query all packages or specific packages with `<queries>` entry

[2020-09-26 13:12] daadu commented on #53
It is impossible (without forking) to override `QUERY_ALL_PACKAGES` (specified in plugin itself) by the app developer, if wants to just query some apps.

[2020-09-27 10:02] #52 closed

[2020-10-31 11:29] holy-dev opened #56 "Apps by category"
I want to get list of apps of a specific category, is it possible?

[2020-12-13 19:58] thiagoloureiro commented on #43
My quick workaround as @jspw  mentioned, so was something like that

[code]

result:"
![image](https://user-images.githubusercontent.com/29433794/102022255-e3febf80-3d85-11eb-9b64-7684bb6d998e.png)

[2021-01-12 05:16] marcomsl commented on #43
I don't know if there is still a problem, because the issue is still open, but you can simply get all apps by creating a simple Future:
`Future<List<Application>> _getApps() async {
    return await DeviceApps.getInstalledApplications(
        includeSystemApps: true, onlyAppsWithLaunchIntent: true, includeAppIcons: true);
  }`

(Don't forget to include the `includeAppIcons: true` property.)

Now

[2021-01-12 06:02] NaingMyoThawNMYT opened #57 "Android Deprecated API"
**Note: C:\src\flutter\.pub-cache\hosted\pub.dartlang.org\device_apps-1.2.0\android\src\main\java\fr\g123k\deviceapps\DeviceAppsPlugin.java uses or overrides a deprecated API.**

Please can you fix it?
Thank you!

[2021-01-19 17:03] bimsina opened #58 "[Feature request] Detect changes in apps list."
Is there any way to trigger getInstalledApplications() once an app is removed or installed?

One way is to create a periodic function to get the apps but I don't think that's a good idea.

[2021-01-22 11:47] faisalansari0367 commented on #58
this is also my question once i get all of the installed apps how do i detect changes if another app is installed by the user how do i get that app information without running getInstalledApplication because it's a heavy operation if a user has 300 or 400 apps its a very heavy resource operation to run this method again & again...hope someone will ans our questions...

[2021-02-07 20:49] farvic commented on #51
I was about to ask the same question. I'm developing a voice recognition app and I'd like to open spotify and auto search using the recognized words. For example: "spotify Linkin Park" would open Spotify and search for Linkin Park.

[2021-02-18 21:13] Lasicaine opened #60 "New openSettings method"
Hello, thank you for you plugin!

Could you please add new method for open settings for app:
for example:
**_DeviceApps.openSettings(app.packageName)_**

Thanks!

[2021-03-02 16:50] neophob commented on #21
Thanks for this library! Running on Android works like a charm. I tried to cross compile my app to iOS for testing - and while see the main issue I thought, hey I return a mocked list. But the Application constructors are private only - any reason why?

Let me know if you accept PR's for this case.

[2021-03-02 19:32] g123k commented on #21
The problem will this kind of library on iOS: the validation from Apple.

You can of course use all the APIs you want (even the hidden ones from Apple), but they won't be accepted on the App Store.
That's the reason why this plugin doesn't implement such a feature.

[2021-03-02 20:11] neophob commented on #21
Yeah, I see that point - my goal was to provide some help to simplify testing, thus provide a mocked app list. But for this I would need to create a new Application object

[2021-03-03 11:24] 04tushar opened #61 "I am getting java.lang.NullPointerException on Android 10"
java.lang.NullPointerException:
  at m.a.a.b.e (DeviceAppsPlugin.java:1)
  at m.a.a.b.a (DeviceAppsPlugin.java:1)
  at m.a.a.b$b.run (DeviceAppsPlugin.java:1)
  at java.util.concurrent.ThreadPoolExecutor.runWorker (ThreadPoolExecutor.java:1167)
  at java.util.concurrent.ThreadPoolExecutor$Worker.run (ThreadPoolExecutor.java:641)
  at java.lang.Thread.run (Thread.java:919)

And

java.lang.NullPoint

[2021-03-03 11:39] g123k commented on #61
Thanks for the report.
Do you have the "un-obfuscated" stack trace please?

[2021-03-03 11:48] 04tushar commented on #61
Pleae check this:

Fatal Exception: java.lang.NullPointerException: Attempt to invoke virtual method 'android.content.pm.PackageManager android.content.Context.getPackageManager()' on a null object reference
       at fr.g123k.deviceapps.DeviceAppsPlugin.getInstalledApps(DeviceAppsPlugin.java:131)
       at fr.g123k.deviceapps.DeviceAppsPlugin.access$000(DeviceAppsPlugin.java:44)
       at fr.g123

[2021-03-04 14:11] marchellodev opened #63 "Null safety"
https://dart.dev/null-safety/migration-guide

[2021-03-05 05:11] 04tushar commented on #61
Any update ?

[2021-03-06 14:21] g123k commented on #60
This feature is now available in 1.2.1 release

[2021-03-06 14:21] #60 closed

[2021-03-06 14:24] g123k commented on #61
Will be fixes in 1.2.1 release

[2021-03-06 14:25] #61 closed

[2021-03-06 14:29] g123k commented on #58
I add this to feature to my TODO list :)

[2021-03-06 14:29] g123k commented on #57
This is just a warning, not an issue.

[2021-03-06 14:29] #57 closed

[2021-03-06 14:54] g123k commented on #32
Without any response, I close the ticket

[2021-03-06 14:54] #32 closed

[2021-03-06 14:58] faisalansari0367 commented on #58
Hey I want one more thing I want to create a file observer who watches
recursively for file changes and receive events to the dart and this work
needs to be done in background please help me about this. I have
implemented a file observer but it's just watching the root path not the
whole file system I have made a plugin storage_details there I implemented
this you can check if you want.

On Sat, 6

[2021-03-06 15:00] g123k commented on #58
Don't worry, I already how to write the feature ;)

[2021-03-06 19:42] g123k commented on #58
It's now available in the 1.3.0 release

[2021-03-06 19:42] #58 closed

[2021-03-06 19:52] g123k commented on #56
Yes, you just have to filter the list:

[code]

[2021-03-06 19:54] g123k commented on #44
Any update on this?

[2021-03-06 19:54] g123k commented on #41
Any update on this?

[2021-03-06 19:55] g123k commented on #30
Feel free to submit a PR for this

[2021-03-18 20:53] #63 closed

[2021-03-20 13:51] prateekmedia opened #66 "Get App Info From File Path"
Currently This library only reports device apps(installed ones) but not the apps present in the device like in internal or external storage, But it would be great if it can also provide that and its too easy for this library to have it as done in this PR #59.

[2021-03-23 14:19] iptodays opened #67 "type 'Future<dynamic>' is not a subtype of type 'Future<bool>' in type cast"
`DeviceApps.isAppInstalled(packageName)`
![image](https://user-images.githubusercontent.com/15830996/112160917-9831a100-8c25-11eb-8dde-582824bf8929.png)
![image](https://user-images.githubusercontent.com/15830996/112161075-bdbeaa80-8c25-11eb-9746-ea39bbd5c099.png)

[2021-03-23 18:32] g123k commented on #67
Thanks for the report.
I'm currently working on a fix

[2021-03-23 18:47] g123k commented on #67
Fixed in 2.0.1 :)

[2021-03-23 18:47] #67 closed

[2021-03-28 10:49] shinewanna opened #68 "can't get dual app"
I'm using dual app.When get all apps, only the real app found in retrieve get all app list, not including clone app.

[2021-03-28 10:51] g123k commented on #68
Please be more specific. What is a dual app?

Le dim. 28 mars 2021 à 12:49, Shine Wanna ***@***.***> a
écrit :

[2021-03-28 12:02] shinewanna commented on #68
dual app is cloning app, like if u want to use two twitter account parallel, u can create the twitter clone in setting.
Search 'dual' in your setting, it may be found.
I think only new model device have that feature, but if don't have u can download dual app from play store to clone your app.
I hope u'll understand, otherwise search 'Enable Dual Apps in MIUI' in google, u'll get it.

[2021-03-28 16:35] g123k commented on #68
This is not an official feature from the Android SDK (MIUI thing as you
mentionned)
As I dont have a Xiaomi phone, I can't do anything.

Le dim. 28 mars 2021 à 14:02, Shine Wanna ***@***.***> a
écrit :

[2021-03-31 08:19] danbrun opened #69 "Application event listener not being called"
I noticed that in version 2.0.1, my application event listener isn't getting called.

The issue seems to be the cast to `Map<Object, Object>` in [the broadcast map lambda](https://github.com/g123k/flutter_plugin_device_apps/blob/master/lib/src/plugin.dart#L148).
I discovered this by logging the error in [the error handler](https://github.com/g123k/flutter_plugin_device_apps/blob/master/lib/src/plu

[2021-03-31 08:21] g123k commented on #69
Thanks for the report.
Which method of the lib are you using please?

[2021-03-31 08:24] danbrun commented on #69
I'm using `DeviceApps.listenToAppsChanges().listen((event) {...})` to update a list of apps.

[2021-04-01 03:33] shinewanna opened #70 "QUERY_ALL_PACKAGES policy changed"
![Screenshot_2021-04-01-09-57-37-787_com google android gm](https://user-images.githubusercontent.com/39454969/113239447-c1f76180-92d0-11eb-9aea-3af53a92eee2.jpg)

Google Play Policy is changed for query install package.So I just want to know is, now, is your package cover for this policy?
Or I've to changed something in my code.

[2021-04-01 04:49] danbrun commented on #69
It looks like `DeviceApps.getApp` has a similar issue, [the type check](https://github.com/g123k/flutter_plugin_device_apps/blob/master/lib/src/plugin.dart#L82) fails resulting in a null return. Changing `Map<Object, Object>` to `Map<dynamic, dynamic>` fixes the issue.

[2021-04-01 06:00] g123k commented on #69
Should be fixed in 2.0.2.
Thanks for your report

[2021-04-01 06:00] #69 closed

[2021-04-03 00:33] jspw opened #71 "Open App Settings is not wokring"
await returns false..
I wanted to open any random app's setting on lonpressed but it is returning false. I guess there is a prblm of permission.How can i solve this?

[2021-04-06 03:44] ThrowJojo commented on #53
I could be wrong but I think if you just add the following line to your app's manifest you can override the behavior:

[code]

That being said I haven't tried it with this package yet but I'm pretty sure it will work. Maybe something should be added to the README about it considering there will potentially be policy changes soon.

[2021-04-06 18:28] daadu commented on #53
Thank you for pointing it out, will test it and let you know if it works.

Yes, I agree that this should be mentioned in README

[2021-04-11 13:06] mbalmer opened #72 "Will you address new QUERY_ALL_PACKAGES permission rules for apps targeting Android 11?"
Recently Google informed developers about upcoming changes wrt QUERY_ALL_PACKAGES.  Will you address this in your package?  I, e.g., only need the openApp() method.

[2021-04-11 13:14] mbalmer commented on #72
Duplicate of #70

[2021-04-11 13:14] #72 closed

[2021-04-12 04:20] ThrowJojo commented on #53
I migrated one of my projects to null safety so I decided to try the override out after upgrading this package to the latest version and it worked, I checked by examining the release APK's manifest inside Android Studio.

@g123k Thanks for creating this package, it's great. Sorry for pinging you but I was just wondering if you'd be willing to accept a pull request if I added a note to the README a

[2021-04-12 12:58] g123k commented on #53
Hi everyone,

I think I will publish instead a version without the QUERY_PACKAGE permission and only devs willing to have the feature will enable it.

[2021-04-12 13:15] #53 closed

[2021-04-12 13:16] g123k commented on #71
Hi @jspw, is-there any error provided?

[2021-04-12 13:16] g123k commented on #70
Duplicate of #53

[2021-04-12 13:16] #70 closed

[2021-04-12 13:17] #68 closed

[2021-04-12 16:30] jspw commented on #71
No there is no error here. It just return false. Somehow the app setting is refusing.

[2021-04-15 09:48] mbalmer opened #73 "How and when will 2.1.0 be released?"
Is it correct that this repository is a copy of some internal repo?  As it has no releases and no tags, I wonder how and when 2.1.0 will be release to pub.dev?

[2021-04-15 11:47] g123k commented on #73
Ooops sorry I totally forgot to publish it -> DONE

[2021-04-15 11:47] #73 closed

[2021-04-15 11:49] mbalmer commented on #73
Cool, thanks!

[2021-04-20 09:30] NaingMyoThawNMYT opened #74 "Build Failed Issue (device_apps: ^2.1.0 and flutter: 2.0.5)"
C:\src\flutter\.pub-cache\hosted\pub.dartlang.org\device_apps-2.1.0\android\src\main\java\fr\g123k\deviceapps\DeviceAppsPlugin.java:18: error: c
annot find symbol
import androidx.annotation.NonNull;
                          ^
  symbol:   class NonNull
  location: package androidx.annotation
C:\src\flutter\.pub-cache\hosted\pub.dartlang.org\device_apps-2.1.0\android\src\main\java\fr\g123k\deviceap

[2021-04-22 09:30] leonardoayres commented on #74
Same issue here.

Got to find another plugin :-/

[2021-05-06 08:52] John-King-456 opened #75 "DeviceApps.openApp working on one device and not working on ther device"
I am trying to activate my app from background process using DeviceApps.openApp command. It works well on my Xiaomi A1 but doesn't work on Vivo Y51.

Is there a way at least to catch the error if it is failed? Thanks.

PS: or, perhaps you can suggest to use other command / plugin if any?

[2021-05-17 12:07] mohanadpro opened #76 "DeviceApps.openApp doesn't open the app if the screen_lock is active"
Hello dears,
I am using DeviceApps.openApp with Workmanager and everything is ok when there is no lock screen in the device, but if the device has lock screen, the app opens, but it stuck like the image.
Please any help.
![DeviceApp OpenApp](https://user-images.githubusercontent.com/15313758/118485732-0fad1980-b719-11eb-97ef-2f1b923dad72.jpeg)

[2021-06-14 03:09] inma06 opened #77 "There seems to be a typo in the example of using the medhod introduced in ReadMe."
" bool isInstalled = await DeviceApps.isAppInstalled('com.frandroid.app'); "

The method must be called from to "DeviceApps. -> DeviceApps()."

The same is true of other examples, of course.

Development Environment:

Dart version is sdk: ">= 2.7.0 <3.0.0"
Package version device_apps: ^2.1.1

[2021-06-15 04:13] #77 closed

[2021-06-24 09:47] g123k commented on #76
Hello @mohanadpro ,

Could you provide the code you are using please?

[2021-06-27 16:06] alper-mf opened #78 "Rounded Icon Problem"
Hi,

I used to device_apps package for to list apps. But I have a problem with icons. I can't change the shape of the icons. Its shape default circle.

`Container(
                height: 48,
                width: 48,
                decoration: BoxDecoration(
                    color: Colors.red,
                    image: DecorationImage(
                      image: MemoryImage(app.icon),

[2021-07-18 11:09] NeilCaffrey1 commented on #51
Any updates on this?

[2021-08-30 12:47] rlucian opened #79 "recently used apps [feature]"
Any chance to implement a method to retrieve the list of the most recently used apps?
Similar to what's done by the system when requesting the recent apps.
Any workaround possible to build the list of recently used apps using current features?

[2021-09-18 18:48] SamoilovEA commented on #78
Hello @alper-mf. Did you manage to solve this problem?

[2021-09-29 19:06] bugrevealingbme opened #80 "includeAppIcons: true but not showing icon"
DeviceApps.getInstalledApplications(includeAppIcons: true, ); i called like this but. .icon don't appear

[2021-10-25 05:25] lakscastro opened #81 "type 'Null' is not a subtype of type 'String' in type cast"
### Exception details

The exception points to:

[code]

![image](https://user-images.githubusercontent.com/51419598/138638737-1456311f-bb81-4f99-8bb0-86dff59fac1c.png)

Seems like a null safety type error.

The exception is throwing after calling this method:
[code]

### Enviroment info

Flutter:
[code]

Android Emulator:
![image](https://user-images.githubusercontent.com/51419598/138639135-dee37

[2022-02-05 09:35] yashwp commented on #56
@g123k I cannot find Finance category, can you please tell, is it possible to fetch that?

[2022-03-01 18:18] sahalkabeer opened #83 "Shows Application with package name "com.google.android.youtube" is not installed on this device"
I tried it on emulator also on physical device

[2022-03-11 01:48] fahami opened #84 "Uninstall Apps Feature"
Can you add uninstall app features for this package? I think it might be suitable solution for adding this feature https://www.semicolonworld.com/question/45412/install-uninstall-apks-programmatically-packagemanager-vs-intents

[2022-04-01 18:20] g123k commented on #83
@sahalkabeer Could you detail which method you call, please?

[2022-04-01 18:21] g123k commented on #79
@rlucian What do you call exactly recent apps?
The list of applications in the "multitask" screen? or something else?

[2022-04-01 18:56] g123k commented on #81
Should be fixed with version 2.2.0

[2022-04-01 18:56] #81 closed

[2022-04-01 19:00] g123k commented on #84
Available in 2.2.0 release

[2022-04-01 19:01] #84 closed

[2022-04-02 10:07] g123k commented on #74
Working perfectly well with Flutter 2.10

[2022-04-02 10:07] #74 closed

[2022-04-02 10:08] g123k commented on #56
@yashwp No, the categories are provided by Android

[2022-04-02 10:08] #56 closed

[2022-04-28 14:49] vovaklh opened #85 "App size in mb"
Can you pls add the size parameter to Application class?

[2022-05-03 08:06] sachindamco opened #86 "deprecated API."
flutter\.pub-cache\hosted\pub.dartlang.org\device_apps-2.2.0\android\src\main\java\fr\g123k\deviceapps\DeviceAppsPlugin.java uses or overrides a deprecated API.

[2022-05-27 23:16] smedasn opened #87 "How to get used cache size of an app"
getting apk file size works with File(app.apkFilePath).lengthSync().

is it possible to get a apps cache size from app.dataDir ?

[2022-06-21 03:08] stephen-yu-gh opened #88 "How to get installed applications for a specific user?"
Some devices support multi users.

Here is an introduction:
https://xiaomiui.net/enable-dual-apps-on-budget-xiaomi-phones-8158/

I can get list of all apps installed for that user.
`adb shell pm list packages --user 999`

[2022-06-21 03:16] stephen-yu-gh commented on #88
By the way, openApp(), openAppSettings(), uninstallApp() are all about `user`.

[2022-06-29 07:10] albatrosify commented on #83
I do have the same problem. DeviceApps.openApp('...') always shows this App is not installed.
It works however when you add Query_All_Packages permission.
Without that permission I am unable to open another app from now on.

[2022-06-30 11:03] #83 closed

[2022-07-01 03:58] lakscastro opened #89 "There's some way to lazy load all packages?"
## Problem

Taking too long to load all packages once on real devices.

Emulators usually doesn't have hundreds of installed apps, so when using this package on it there's no performance/loading issues, everything loads smooth and fast (packages count < 40, 50).

But since I tried to use the package on my real devices which contains a hundred of apps (> 200) the package takes too long to load all

[2022-08-14 22:22] aytunch opened #91 "How to check only if Instagram is installed?"
Right now I can't publish to Google Play Store because I have `QUERY_ALL_PACKAGES` in the manifest file.
I just need to know if Instagram is installed or not in users device.
What permission should I put in the manifest for this so that Google accepts the app?
Thank you.
<img width="910" alt="Screen Shot 2022-08-15 at 01 17 09" src="https://user-images.githubusercontent.com/6442915/184556950-fc508

[2022-09-07 14:05] vmtb commented on #20
Use [installed app](https://pub.dev/packages/installed_apps) package
`List<AppInfo> apps = await InstalledApps.getInstalledApps(true, true);`
The second `true ` is for the icon getting

And you can load icon by using `Image.memory(apps[0].icon)` @g123k

[2022-09-12 16:12] tomosullivan8 commented on #34
Little bit late with a reply to this, but I did the following and the animations changed as per the overridePendingTransitions value.

Import the following

[code]

Amend the `openApp` to the following
[code]

When testing the animation now fades in on launching another application.

I've found a bit of a hack to be able to get the clipRevealAnimation to work, by passing the data of the scale, hei

[2022-09-27 09:09] nkitsaini opened #93 "Request for adding to HacktoberFest Topic"
[Hacktoberfest](https://hacktoberfest.com/) is an annual event where individuals try to make open source contributions in month of October. Starting this year hacktoberfest will only count contributions to repositories in [HacktoberFest Topic](https://github.com/topics/hacktoberfest).

I am considering this project for contribution (on the side of supporting work-profile/multiple-user profile) and

[2022-10-01 00:38] Djihanegh opened #94 "Plugin doesn't work on Android 12"
Plugin doesn't work on android 12, but it works on android 10

Flutter version : **3.0.5**
Dart **2.17.6**
device_apps: **^2.2.0**

Is there any solution for that ?
Thank you in advance.

[2022-10-10 09:42] kayumarie commented on #94
I'm getting an error
[code]

@Djihanegh are you getting the same one?

[2022-10-10 13:20] Djihanegh commented on #94
No, i was having a problem with Android 12, to check if some applications are installed or not, and i fixed it by adding
 ` <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />` in AndroidManifest.xml..
![image](https://user-images.githubusercontent.com/40029149/194875157-9b38daec-c64d-497d-b480-232de1e8c068.png)

check more details here :  [https://pub.dev/packages/device_apps

[2022-10-10 17:56] #94 closed